# Parquet output data
output/
my_mds/

# Spark event logs
spark-events/

# Jupyter checkpoints
notebooks/.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Docker volumes
*.log
q.md